# https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
tga/bin/activate
tga/bin/activate.csh
tga/bin/activate.fish
tga/bin/Activate.ps1
tga/bin/pip
tga/bin/pip3
tga/bin/pip3.11
tga/bin/pyrsa-decrypt
tga/bin/pyrsa-encrypt
tga/bin/pyrsa-keygen
tga/bin/pyrsa-priv2pub
tga/bin/pyrsa-sign
tga/bin/pyrsa-verify
tga/bin/python
tga/bin/python3
tga/bin/python3.11
tga/bin/tg-archive
tga/lib64
tga/pyvenv.cfg
.venv/pyvenv.cfg
.venv/lib64
.venv/bin/tg-archive
.venv/bin/python3.11
.venv/bin/python3
.venv/bin/python
.venv/bin/pyrsa-verify
.venv/bin/pyrsa-sign
.venv/bin/pyrsa-priv2pub
.venv/bin/pyrsa-keygen
.venv/bin/pyrsa-encrypt
.venv/bin/pyrsa-decrypt
.venv/bin/pip3.11
.venv/bin/pip3
.venv/bin/pip
.venv/bin/Activate.ps1
.venv/bin/activate.fish
.venv/bin/activate.csh
.venv/bin/activate
/.venv
